body {
    font: arial;
    font-size: 90%;
    color: #333;
    margin: 0;
    padding: 0;
    background: #fff;
  }
  
  #top {
    width: 980px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 4px solid #ddd;
  }
  
  #header {
    width: 980px;
    height: 110px;
    margin: 0 auto;
  }
  
  #logo, #ad {
    float: left;
    width: 400px;
    height: 110px;
  }
  .author{
    float: left;
  }
  #ad {
    width: 580px;
  }
  
  #nav {
    width: 980px;
    height: 44px;
    margin: 0 auto;
    background: #dc0000;
  }
  
  #nav-bottom {
    width: 978px;
    height: 42px;
    margin: 0 auto;
  
    border: 1px solid #d0d0d0;
    border-top: none;
  }
  
  #sub-nav {
    width: 980px;
    height: 45px;
    margin: 0 auto 10px auto;
  }
  
  #content-wrapper {
    width: 980px;
    min-height: 630px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #main {
    float: left;
    width: 660px;
    min-height: 630px;
    margin: 0 20px 0 0;
  }
  
  #headlines {
    width: 660px;
    min-height: 300px;
  }
  
  #main-headline {
    float: left;
    width: 700px;
    min-height: 300px;
    padding: 0 19px 0 0;
    border-right: 1px solid #ddd;
  }
  
  #more-headlines {
    float: right;
    width: 220px;
    min-height: 300px;
    padding: 0 0 0 20px;
  }
  
  #sidebars {
    float: right;
    width: 279px;
    min-height: 630px;
    padding: 0 0 0 20px;
    border-left: 1px solid #ddd;
  }
  
  #extras {
    width: 980px;
    height: 290px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
  }
  
  #recommended {
    float: left;
    width: 312px;
    height: 290px;
    margin: 0 20px 0 0;
    padding: 20px 0;
  }
  
  #programs {
    float: left;
    width: 312px;
    height: 290px;
    margin: 0 10px 0 0;
    padding: 20px 0;
  }
  
  #cartoon {
    float: left;
    width: 312px;
    height: 290px;
    margin: 0 0 0 10px;
    padding: 20px 0;
  }
  
  #footer {
    width: 980px;
    height: 60px;
    margin: 0 auto;
  }
  
  
  /* TOP MENU */
  
  #top #left {
    float: left;
    margin: 18px 0 0 0;
    padding: 0;
    list-style: none;
  }
  #top #right  {
    float: right;
    margin: 18px 0 0 0;
    padding: 0;
    list-style: none;
  }
  
  #top li {
    display: inline;
    font-size: 0.9em;
    line-height: 1.0em;
    margin: 0 0 0 20px;
    padding: 0;
  }
  
  #top #right li a {
    color: #4c4c4c;
    text-decoration: none;
  }
  #top #left li a {
   
    color: #4c4c4c;
    text-decoration: none;
    right: 700px;;
  }
  #top li a:hover {
    color: #000;
    text-decoration: underline;
  }
  
  /* MAIN NAV MENU */
  
  #nav ul {
    float: left;
    margin: 0;
    padding: 0 10px;
    list-style: none;
  }
  
  #nav li {
    display: inline;
    font-size: 1.0em;
    line-height: 44px;
    text-transform: uppercase;
    margin: 0 29px 0 0;
    padding: 0;
  }
  
  #nav li.last {
    margin: 0;
  }
  
  #nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  #nav li a:hover {
    color: #000;
    text-decoration: none;
  }
  
  /* MAIN SUB-NAV MENU */
  
  #sub-nav ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #sub-nav li {
    display: inline;
    font-size: 0.9em;
    line-height: 45px;
    text-transform: uppercase;
    color: #666;
    margin: 0 15px 0 0;
    padding: 0;
  }
  
  #sub-nav li a {
    color: #000;
    text-decoration: none;
  }
  
  #sub-nav li a:hover {
    color: #000;
    text-decoration: underline;
  }
  
  #sub-nav li.title {
    color: #dc0000;
  }
  
  /* FOOTER MENU */
  
  #footer ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #footer li {
    display: inline;
    font-size: 0.9em;
    line-height: 60px;
    color: #666;
    margin: 0 15px 0 0;
    padding: 0;
  }
  
  #footer li a {
    color: #000;
    text-decoration: none;
  }
  
  #footer li a:hover {
    color: #000;
    text-decoration: underline;
  }
  
  /* TYPOGRAPHY */
  
  #headlines h1, #headlines h2, #headlines h3, #headlines h4, #sidebars h3 {
    font-size: 2.3em;
    font-weight: normal;
    line-height: 1.0em;
    letter-spacing: -1px;
    color: #000;
    margin: 0 0 6px 0;
  }
  
  #headlines h2, #headlines h3, #sidebars h3 {
    font-size: 1.7em;
  }
  
  #headlines h4 {
    font-size: 1.3em;
    line-height: 1.1em;
  }
  
  #headlines h3 {
    margin: 0 0 4px 0;
    padding: 12px 0 0 0;
    border-top: 1px solid #ddd;
  }
  
  #headlines h1 a, #headlines h2 a, #headlines h3 a, #headlines h4 a, #sidebars h3 a {
    color: #000;
    text-decoration: none;
  }
  
  #headlines h1 a:hover, #headlines h2 a:hover, #headlines h3 a:hover, #headlines h4 a:hover, #sidebars h3 a:hover {
    color: #dc0000;
    text-decoration: underline;
  }
  
  #headlines h2.heading, #sidebars h2.heading-blue, #sidebars h2.heading {
    font: bold 0.8em arial,verdana,tahoma,sans-serif;
    line-height: 1.0em;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 7px 6px 6px 6px;
    background: #dc0000;
  }
  
  #sidebars h2.heading-blue {
    background: #2c6fae;
  }
  
  #sidebars h4 {
    font: bold 1.0em arial,verdana,tahoma,sans-serif;
    line-height: 1.2em;
    margin: 0 0 9px 0;
    padding: 5px 0 0 0;
  }
  
  #sidebars h4 a {
    color: #dc0000;
    text-decoration: none;
  }
  
  #sidebars h4 a:hover {
    color: #000;
    text-decoration: underline;
  }
  
  #main p, #sidebars p {
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  #main p.author, #sidebars p.author {
    font: bold 0.8em arial,verdana,tahoma,sans-serif;
    line-height: 1.0em;
    margin: 0 0 10px 0;
    color: #999;
  }
  
  #main p.author span, #sidebars p.author span {
    color: #2c6fae;
  }
  
  #main p a, #sidebars p a {
    color: #dc0000;
    text-decoration: none;
  }
  
  #main p a:hover, #sidebars p a:hover {
    color: #dc0000;
    text-decoration: underline;
  }
  
  #extras h2.heading {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.0em;
    letter-spacing: -1px;
    color: #000;
    margin: 0;
    padding: 10px 0;
    border-top: 4px solid #000;
    border-bottom: 1px solid #ddd;
  }
  
  #extras ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #extras li {
    font-size: 1.0em;
    line-height: 1.3em;
    margin: 0;
    padding: 9px 0;
    border-bottom: 1px dotted #ccc;
  }
  
  #extras li.last {
    padding: 6px 0 0 0;
    border-bottom: none;
  }
  
  #extras li a {
    color: #dc0000;
    text-decoration: none;
  }
  
  #extras li a:hover {
    color: #000;
    text-decoration: none;
  }
  
  /* IMAGES */
  
  #logo img {
    border: 0;
  }
  
  #ad img {
    margin: 15px 0 0 0;
    border: 0;
  }
  
  #sub-nav img {
    margin: 0 5px 0 0;
    border: 0;
    vertical-align: middle;
  }
  
  #main-headline img {
    margin: 0 0 6px 0;
    border: 0;
  }
  
  #main img.lefty {
    float: left;
    margin: 0 10px 0 0;
    border: 0;
  }
  
  #main img.righty {
    float: right;
    margin: 0 0 0 10px;
    border: 0;
  }
  
  #sidebars img.ad, #sidebars img.ad-right {
    margin: 0 24px 24px 0;
    border: 0;
  }
  
  #sidebars img.ad-right {
    margin: 0 0 24px 0;
  }  
  
  #extras img {
    margin: 8px 0 0 0;
    border: 0;
  }
  
  /* FORMS */
  
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  #search form {
    margin: 40px 0 0 0;
  }
  
  .searchfield {
    font: normal 1.0em georgia,"times new roman",times,serif;
    color: #000;
    margin: 0 6px 0 0;
    padding: 6px;
    background: #fff;
    border: 1px solid #aaa;
  }
  
  .searchbtn {
    font: normal 1.2em georgia,"times new roman",times,serif;
    color: #000;
    margin: 0;
    padding: 2px;
  }
  #content {
	width:670px;
	float:left
	}
	
.description {
	font-size: 1.3em;
	font-weight: bold; 
	font-style:italic;
	color:#545454;
	margin-top:-4px;
	}

.feature {
	background:#f2f2f2;
	padding:15px;
	border-bottom:1px dotted #b6b6b6;
	border-top:1px dotted #b6b6b6;
	}

.feature:hover {
	background:#e9e9e9;
	}
	
.feature p, #rightcol p {
	margin:0;
	}

.feature img, #rightcol img {
	padding:1px;
	border:1px solid #000;
	}
			
#leadpic {
	float:left;
	margin: 0 18px 8px 0;
	}

#lead {
	margin-top:22px;
	}

.title {
	font-size:1.2em;
	font-weight:bold;
	line-height:115%;
  color: inherit;
	}
	
.feature#lead .title {
	font:1.8em Georgia, "Times New Roman", Times, serif;
	line-height:100%;
	display:block;
	padding-bottom:7px;
	}

#leftcol .feature {
	margin-bottom: 5px;
	border-bottom:none
	}

#rightcol img {
	float:left;
	margin:3px 10px 4px 0;
  width: 90px;
  height: 50px;
	}

#leftcol img {
	margin-bottom: 4px;
	display:block;
  width: 90px;
  height: 50px;
	}
	
#rightcol .clearfloat {
	border-bottom:1px dotted #b6b6b6;
	padding:12px 0;
  width:350px;
  
	}	
  h1,h2,h3{
    font-family: "Merriweather",serif;
   }
.clearfloatitem{
  margin-bottom: 40px;
}
  #rightcol h3 a  {
   color: inherit;
    
    }	

#sidelist li {
	list-style:none
	}
	
.bullets li {
	list-style:none;
	border-bottom:1px solid #FFF;
	}
	
#sidelist .bullets li {
	list-style:square;
	margin-bottom:5px;
	line-height:115%;
	margin-left:22px;
	}

#sidelist .children {
	background:#e4efd5;
	}
	
#sidelist .children li {
	list-style: square;
	margin-left:28px;
	border-bottom:1px solid #e4efd5;
	}
	
#sidelist .children li a, #sidelist .children li a:visited {
	padding:2px 2px 2px 0px;
	border:0;
	background:#e4efd5;
	color: #818d6f;
	}

#sidelist .children li a:hover, #sidelist .children li a:active	{				
	color:#465d23
	}

.postmetadata {
	margin: 30px 0;
	}
  #page {
    width:880px;
    margin:0 auto;
    font-size:0.7em;
    background:#FFF;
    padding: 10px 25px 35px 25px;
    }
  
  #branding {
    width:625px;
    padding-bottom:15px;
    }
  
  .left {
    float:left;
    }
  
  .right {
    float:right;
    }
  
  #sidebar {
    width: 250px;
    float:right
    }
  
  #leftcol {
    width:287px;
    border-right:1px dotted #b6b6b6;
    padding-right:18px;
    }
  
  #leftcol, #rightcol {
    margin-top:10px;
    float:left
    }	
    
  #rightcol {
    width:277px;
    padding-left:18px;
    margin-top: -2px;
    }
    .login_form_wrapper {
      float: left;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 100px;
      background-color:grey;
  }
  
  .login_wrapper {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e4e4e4;
      float: left;
      width: 100%;
      background: #fff;
      padding: 50px;
  }
  
  .login_wrapper a.btn {
      color: #fff;
      width: 100%;
      height: 50px;
      padding: 6px 25px;
      line-height: 36px;
      margin-bottom: 20px;
      text-align: left;
      border-radius: 5px;
      background: #4385f5;
      font-size: 16px;
      border: 1px solid #4385f5;
  }
  
  
  .login_wrapper a i {
      float: right;
      margin: 0;
      line-height: 35px;
      width: 600px;
  }
  
  .login_wrapper a.google-plus {
      background: #db4c3e;
      border: 1px solid #db4c3e;
  }
  
  .login_wrapper h2 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #111;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      position: relative;
  }
  
  .login_wrapper .formsix-pos, .formsix-e {
      position: relative;
  }
  
  .form-group {
      margin-bottom: 15px;
  }
  
  .login_wrapper .form-control {
      height: 53px;
      padding: 15px 20px;
      font-size: 14px;
      line-height: 24px;
      border: 1px solid #fafafa;
      border-radius: 3px;
      box-shadow: none;
      font-family: 'Roboto';
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      background-color: #fafafa;
  }
  
  .login_wrapper .form-control:focus {
      color: #999;
      background-color: fafafa;
      border: 1px solid #4285f4 !important;
  }
  
  .login_remember_box {
      margin-top: 30px;
      margin-bottom: 30px;
      color: #999;
  }
  
  .login_remember_box .control {
      position: relative;
      padding-left: 20px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      margin: 0;
  }
  
  .login_remember_box .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
  
  .login_remember_box .control__indicator {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      background: #fff;
      border: 1px solid #999;
  }
  
  .login_remember_box .forget_password {
      float: right;
      color: #db4c3e;
      line-height: 12px;
      text-decoration: underline;
  }
  
  .login_btn_wrapper {
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid #e4e4e4;
  }
  
  .login_btn_wrapper a.login_btn {
      text-align: center;
      text-transform: uppercase;
  }
  
  .login_message p {
      text-align: center;
      font-size: 16px;
      margin: 0;
  }
  
 
  
  .login_wrapper a.login_btn:hover {
      background-color: #2c6ad4;
      border-color: #2c6ad4;
  }
  
  .login_wrapper a.btn:hover {
      background-color: #2c6ad4;
      border-color: #2c6ad4;
  }
  
  .login_wrapper a.google-plus:hover {
      background: #bd4033;
      border-color: #bd4033;
  }
  .ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 100%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}
  .content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}
.new-detail  h1{
  font-size: 32px;
  line-height: 150%;
  font-family: "Merriweather",serif;
  font-weight: bold;
  margin-bottom: 15px;
}
.new-detail p{
  font-size: 32px;
}