.container {
    margin: 50px auto;
}

.user-box {
    border: 5px solid #3377FF;
    border-radius: 10px;
    padding: 15px;
    background-color: whitesmoke;
}

.user-box img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 10px;
}

.profile-box h2 {
    text-align: center;
    padding: 5px;
    border: 2px solid #3377FF;
    border-radius: 5px;
}

.user-box strong {
    font-size: 20px;
}

.user-box p {
    margin: 10px;
    font-size: 16px;
}

.user-box button {
    border: 2px solid #3377FF;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}