.board {
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead tr th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
    border-right: 2px solid gray;
}

tbody tr td {
    padding: 10px 15px;
    border-right: 2px solid gray;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-table {
    font-size: 16px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #0055FF;
}